.Title {
  text-align: center;
  flex-basis: 60%;
}
.Title:first-child {
  margin-left: 20%;
}
.Title:last-child {
  margin-right: 20%;
}

.NavBarButton {
  margin: 10px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  color: white;
  padding: 10px;
  line-height: 2;
  border-radius: 5px;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}

.NavBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: navajowhite;
}